[Desktop Entry]
Name=Spyder
Comment=Anaconda Spyder
Exec=/usr/local/anaconda/anaconda3/bin/spyder
Icon=/usr/local/anaconda/anaconda3/lib/python3.4/site-packages/spyderlib/images/spyder.svg
Terminal=false
Type=Application
Categories=Utility;IDE;Development;
